@page "/profile"
<div class="main row">
    <div class="col-md-2">
        Ава
    </div>
    <div class="col-md-2">
        <span class="row">имя</span>
        <span class="row">Карма</span>
    </div>
    <div class="col-md-2">
        ачивки
    </div>
</div>
<hr/>
<div class ="content container">
    skills
    //foreach skill div row div col
</div>
<div>
    Activity
</div>
@code {

}
