@page "/projectInfo/{ProjectId:int}"
@using Recademy.Models
@using Recademy.Services.Abstraction
@inject IProjectService ProjectService

<div class="row">
    <p class="col-md-2">@projectInfo.Id</p>
    <button type="button" class="btn btn-outline-secondary col-md-2">Request Review</button>
</div>
<hr/>
<div class="content">
    <div>
        <p>Readme</p>
        <div class="border-dark">
            @projectInfo.Description
        </div>
    </div>
    <div>
        <p>Review</p>
        <div class="row">
            <span class="col-1">TestReviewer</span>
            <span class="badge badge-secondary col-md-2">Some label</span>
            <button type="button" class="btn btn-info col-md-2">Open</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int ProjectId { get; set; }

    ProjectInfo projectInfo;

    protected override void OnInitialized()
    {
        projectInfo = ProjectService.GetProjectInfo(ProjectId);
    }
}
