@page "/projectInfo/{ProjectId:int}"
@using Recademy.Dto
@using Recademy.Models
@using Recademy.Services.Abstraction
@inject IProjectService ProjectService

<style>
    .id {
        color: grey;
    }
    .readme {
        margin: 20px;
        padding: 10px 15px;
        border-style: solid;
        border-color: darkviolet;
        border-width: 2px;
        border-radius: 20px;
    }
</style>

<div class="mat-h3">
    @projectInfo.ProjectName<span class="id">#@projectInfo.ProjectId</span>
</div>
<hr/>
<div class="content">
    <div class="row">
        <MatChipSet>
            @foreach (var skill in projectInfo.ProjectSkills)
            {
                <MatChip Label="@skill" LeadingIcon="code"></MatChip>
            }
        </MatChipSet>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10 readme">
            README
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int ProjectId { get; set; }

    ProjectDto projectInfo;

    protected override void OnInitialized()
    {
        projectInfo = ProjectDto.Of(ProjectService.GetProjectInfo(ProjectId));
    }
}
