@page "/reviewSearch"
@using Recademy.Models
@using Recademy.Services.Abstraction
@inject IReviewService ReviewService

<style type="text/css">
    .request-item {
        margin-top: 25px;
    }
</style>

<nav class="navbar navbar-light bg-light justify-content-between">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>
    </form>
</nav>
<hr />
<div class="container">

    @foreach (ReviewRequest request in _reviewRequests)
    {
        <div class="container">
            <div class="row align-items-center request-item">
                <div class="col-md-2">
                    <div class="mat-h5">@request.ProjectInfo.Title</div>
                </div>
                <div class="col-md-10">
                    <div class="row justify-content-end">
                        <div class="col-7">
                            <div class="row justify-content-end align-items-center">
                                @foreach (string skill in request.ProjectInfo.Skills.Select(s => s.SkillName))
                                {
                                    <div class="col-2">
                                        <div class="row">
                                            <MatChip Label="@(skill.Substring(0, skill.Length > 5 ? 5 : skill.Length)  + "...")" LeadingIcon="code"></MatChip>
                                        </div>
                                    </div>

                                }
                                
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row justify-content-end">
                                <MatButton Outlined="true" Link=@("Review/" + request.Id)>Send Review</MatButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code {

    protected override void OnInitialized()
    {
        _reviewRequests = ReviewService.GetReviewRequests();
    }

    private List<ReviewRequest> _reviewRequests;
}
