@page "/reviewSearch"
@using Recademy.Models
@using Recademy.Services.Abstraction
@inject IReviewService ReviewService

<style type="text/css">
    .project-item-line {
        margin-top: 20px;
        padding-bottom: 20px;
    }
</style>

<nav class="navbar navbar-light bg-light justify-content-between">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>
    </form>
</nav>
<hr />
<div class="container">

    @foreach (ReviewRequest request in _reviewRequests)
    {
        <div class="justify-content-between row border-bottom project-item-line mat-elevation-z10">
            <div class="col-md-1" style="margin:15px">
                <span class="row" style="font-family:'Times New Roman'"><h2>@request.ProjectInfo.Title</h2></span>
                <span class="row">@request.ProjectInfo.User.Name</span>
                <span class="row">@request.DateCreate.ToString("d")</span>
            </div>
            <div class="row align-items-center" style="margin:15px">
                <a href="review/@request.Id">
                    <button type="button" class="btn btn-outline-success">Accept</button>
                </a>
            </div>
        </div>
    }
</div>

@code {

    protected override void OnInitialized()
    {
        _reviewRequests = ReviewService.GetReviewRequests();
    }

    private List<ReviewRequest> _reviewRequests;
}
