@page "/"
@using Recademy.Core.Dto
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-primary" @onclick="SignIn">Sign in</button>

@_user?.GithubUsername

@code {
    private UserInfoDto? _user;

    protected override async Task OnInitializedAsync()
    {
        _user = await Http.GetFromJsonAsync<UserInfoDto>("api/auth/user/current");
    }

    private async void SignIn()
    {
        NavigationManager.NavigateTo("api/auth/sign-in", forceLoad: true);

        _user = await Http.GetFromJsonAsync<UserInfoDto>("api/auth/github");
    }
}