@page "/tag-profile/{tagName}"
@using Recademy.BlazorWeb.Dto
@using Recademy.BlazorWeb.Services.Abstraction

@inject ITagService TagService

<h1>tag profile @Profile.TagName</h1>
<div class="main row">
    <div>
        <span>
            Projects
            <a href="uploadProject">
                <button type="button" class="btn btn-primary">
                    <MatIcon Icon="add"></MatIcon>
                </button>
            </a>
        </span>
        <div class="container row flex-wrap">
            @foreach (ProjectDto t in Profile.Projects)
            {
                <div class="col-md-4">
                    <a href="projectInfo/@t.ProjectName">@t.ProjectName</a>
                </div>
            }
        </div>
    </div>
</div>

@code
{

    [Parameter]
    public string TagName { get; set; }

    public TagProfileDto Profile { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Profile = TagService.GetTagProfile(TagName);

    }

}
