@page "/achievements/requests/{RequestId:int}/response"
@using Recademy.Dto.Enums
@using Recademy.Dto.Achievements
@inject HttpClient Http
@inject IBlazorStrap BlazorStrap

@if (MainLayout.User is null)
{
    <Unauthorized />
}
else
{
    <h3>Ответить на запрос @_request?.User.GithubUsername на получение достижения @_request?.Achievement.Title</h3>

    <BSLabel MarginTop="Margins.Small">Ответ</BSLabel>
    <BSInput InputType="InputType.Select" Class="form-input" @bind-Value="_achievementResponseNumber">
        @if (_responseTypes is not null)
        {
            @foreach (UserAchievementResponseTypeDto responseType in _responseTypes)
            {
                <option value="@((int)responseType)">@responseType.TranslateToString()</option>
            }
        }
    </BSInput>

    <BSLabel MarginTop="Margins.Small">Комментарий к ответу</BSLabel>
    <BSInput InputType="InputType.Text" Class="form-input" @bind-Value="_responseComment" />

    <button style="margin-top: 1em" @onclick="SendAchievementResponse">Отправить ответ</button>
}

@code {
    [Parameter]
    public int RequestId { get; set; }

    private readonly IReadOnlyCollection<UserAchievementResponseTypeDto> _responseTypes = Enum.GetValues<UserAchievementResponseTypeDto>();

    private UserAchievementRequestDto _request;
    private int _achievementResponseNumber = 0;
    private string _responseComment;

    protected override async Task OnInitializedAsync()
    {
        _request = await Http.GetFromJsonAsync<UserAchievementRequestDto>($"api/achievements/users/requests/{RequestId}");
    }

    private async Task SendAchievementResponse()
    {
        var achievementResponse = new UserAchievementResponseDto
        {
            RequestId = RequestId,
            Response = (UserAchievementResponseTypeDto)_achievementResponseNumber,
            Comment = _responseComment,
            ResponseTime = DateTime.UtcNow,
        };

        var response = await Http.PostAsJsonAsync($"api/achievements/users/requests/{RequestId}/responses", achievementResponse);

        if (response.IsSuccessStatusCode)
        {
            BlazorStrap.Toaster.Add("Ответ на получение достижения успешно отправлен", o =>
            {
                o.Color = BSColor.Success;
                o.CloseAfter = 3000;
                o.Toast = Toast.BottomRight;
            });
        }
        else
        {
            BlazorStrap.Toaster.Add("Произошла ошибка при отправке ответа на получение достижения", o =>
            {
                o.Color = BSColor.Danger;
                o.CloseAfter = 3000;
                o.Toast = Toast.BottomRight;
            });
        }

        _achievementResponseNumber = 0;
        _responseComment = default;
    }
}